line {
  stroke: #999;
  shape-rendering: crispEdges;
}

rect {
  fill: #f5f5f5;
  stroke: #555;
  stroke-width: .5;
}

.up rect {
  fill: #369;
  stroke: #333;
}

.line {
  fill: none;
  stroke: #999;
}

.background {
  fill: none;
  pointer-events: all;
}

.axis .title {
  text-anchor: end;
}

.status {
  font: 10px sans-serif;
}
