#content-header
  h1 Average {{first}}/{{second}}
#breadcrumb
  a(href='/')
    i.icon-home
    | Home
  a(href='/markets') Markets
  a.current {{first}}/{{second}}/Average
.container-fluid
  .row-fluid
    .alert.alert-info Chart upside down? Some pairs make more sense the other way around.&nbsp;
      a(href="/market/{{second}}/{{first}}/average") Flip it!
  .row-fluid
    .span12
      .widget-box.widget-plain
        #market-chart.widget-content
          stockchart(value="data", height="500")
  .row-fluid
    .span8.raw_data
      a(ng-click='open_raw_data()') Load raw data
      table.table(ng-show="opened == true")
        thead
          tr
            th Timestamp
            th Average
        tbody
          tr(ng-repeat="item in raw_data")
            td {{item[0] | date: 'yyyy-MM-dd HH:mm:ss'}} 
            td {{item[7].toFixed(2)}} 