#content-header
  h1 Dashboard
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
.container-fluid
  .row-fluid
    .span7
      .widget-box
        .widget-title
          span.icon: i.icon-signal
          h5 Markets
        .widget-content.nopadding
          table#market-list.table.table-bordered.table-striped
            thead: tr
              th Symbol
              th Latest Price
              th Volume (30d)
            tbody: tr(ng-repeat="ticker in tickers")
              td: a(href="market/{{ticker.sym}}", ng-bind="ticker.sym")
              td(ng-bind="ticker.last | rpamount:{rel_precision: 2, min_rel_precision: 2}")
              td(ng-bind="ticker.d30.vol + '/' + ticker.first | rpamount:{rel_precision: 2, min_rel_precision: 2}")
      .widget-box
        .widget-title
          span.icon: i.icon-dollar
          h5 Currencies
        .widget-content.nopadding
          table#currency-list.table.table-bordered.table-striped
            thead: tr
              th &nbsp;
              th Issuer
              th Capitalization
            tr(ng-repeat="currency in currencies")
              td(ng-bind="currency.cur")
              td(ng-bind="currency.gat")
              td.cap(ng-bind="currency.cap | rpamount:{rel_precision: 2, min_rel_precision: 2}")
    .span5
      .widget-box
        .widget-title
          span.icon: i.icon-signal
          h5 Ripple Ledger
        .widget-content.center
          ul.site-stats
            li
              i.icon-arrow-right
              strong(ng-bind='ledger_index') ???
              small Ledger Index
            li
              i.icon-user
              strong(ng-bind='account_count') ???
              small Total Accounts
            li
              i.icon-calendar
              strong(ng-bind='ledger_time | rpdate') ???
          div.alert.alert-error(ng-hide="status_connected")
            strong Warning:&nbsp;
            | RippleCharts is not connected to the Ripple network. Information may be out of date!
          div.alert.alert-error(ng-hide="status_ledger")
            strong Warning:&nbsp;
            | RippleCharts is waiting for a validated ledger, information may not be accurate yet.
      .widget-box
        .widget-title
          span.icon: i.icon-refresh
          h5 Ripple News
        .widget-content.nopadding.updates
          .new-update.clearfix
            i.icon-exclamation-sign
            span.update-alert
              a(href="#"): strong RippleCharts is still in alpha!
              span Stay tuned for newer and better bugs. :)
            span.update-date
              span.update-day 19
              | feb