#content-header
  h1 Intraday {{first}}/{{second}}
#breadcrumb
  a(href='/')
    i.icon-home
    | Home
  a(href='/') Intraday
  a.current {{first}}/{{second}}
.container-fluid
  .row-fluid
    .span12
      .widget-box.widget-plain
        #market-chart.widget-content
          highchart(value="data", height="500")
  .row-fluid
    .span8.raw_data
      a(ng-click='open_raw_data()') Load raw data
      table.table(ng-show="opened == true")
        thead
          tr
            th Timestamp
            th Value
        tbody
          tr(ng-repeat="item in raw_data")
            td {{item[0] | date: 'yyyy-MM-dd HH:mm:ss'}} 
            td {{item[1].toFixed(2)}} 