#content-header
  h1 Market {{first}}/{{second}}
#breadcrumb
  a(href='/')
    i.icon-home
    | Home
  a(href='/markets') Markets
  a.current {{first}}/{{second}}
.container-fluid
  .row-fluid
    .span12
      .widget-box.widget-plain
        .widget-content
          stockchart(value="{{data}}", height="500")