#content-header
  h1 Markets
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a.current Markets
.container-fluid
  .widget-box
    .widget-title
      span.icon: i.icon-signal
      h5 XRP Markets
    .widget-content.nopadding
      table#market-list.table.table-bordered.table-striped.table-fin
        thead
          tr
            th(colspan="2")
            th(colspan="4") 30 days
            th(colspan="2") 24 hours
          tr
            th Symbol
            th Latest&nbsp;Price
            th Volume
            th Average
            th Low
            th High
            th Volume
            th Average
        tbody: tr(ng-repeat="ticker in atickers | orderBy:'-vol'")
          td: a(href="market/{{ticker.sym}}", ng-bind="ticker.sym")
          td.fin(ng-bind="ticker.last | rpamount:{rel_precision: 0, min_rel_precision: 0}")
          td.fin
            span(ng-bind="ticker.d30.avg * ticker.d30.vol | rpcurr:ticker.second | rpamount:{rel_precision: 0, min_rel_precision: 0}")
            br
            span.minor(ng-bind="ticker.d30.vol | rpcurr:ticker.first | rpamount:{rel_precision: 0, min_rel_precision: 0}")
            span.minor &nbsp;
            span.minor(ng-bind="ticker.first.slice(0,3)")
          td.fin(ng-bind="ticker.d30.avg | rpcurr:ticker.second | rpamount:{rel_precision: 2, min_rel_precision: 2}")
          td.fin(ng-bind="ticker.d30.lo | rpcurr:ticker.second | rpamount:{rel_precision: 0, min_rel_precision: 0}")
          td.fin(ng-bind="ticker.d30.hi | rpcurr:ticker.second | rpamount:{rel_precision: 0, min_rel_precision: 0}")
          td.fin(ng-bind="ticker.d1.vol | rpcurr:ticker.first | rpamount:{rel_precision: 0, min_rel_precision: 0}")
          td.fin(ng-bind="ticker.d1.avg | rpcurr:ticker.second | rpamount:{rel_precision: 2, min_rel_precision: 2}")