#content-header
  h1 News
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a(href='/news') News
.container-fluid
  .row-fluid
    .span
      h5 Ripple News
      .widget-box
        div(ng-repeat="item in data")
          .title
            h5  
              span.pull-right {{item.publish_date | date: 'd MMM yyyy'}}
              a(href="{{item.url}}"): {{item.title}} 
          .widget-content
            {{item.summary}}
            a.pull-right(href="{{item.url}}") read more 
      .pagination
