#content-header
  h1 Orderook
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a(href='#') Orderbook
.container-fluid
  .row-fluid
    .span5
      .live-feed
    .span7
      .stats
        span 
          strong XRP Demand: 
            a(href='javascript:void(0);', title='Size of XRP purchase orders within x% of the current ask') ?
          br
          span {{demand10}} at 10%,
          span {{demand25}} at 25%
        span
          strong XRP Supply:
            a(href='javascript:void(0);', title='Size of XRP sell orders within x% of the current bid') ?
          br
          span {{supply10}} at 10%,
          span {{supply25}} at 25%
        span
          strong Weighted Center:
            a(href='javascript:void(0);', title='The weighted average price of buy and sell orders for 250k and 750k XRP respectively') ?
          br
          span {{center10}} to
          span {{center25}}
  .row-fluid
    .span12
      highchart(value="data", height="500")
  .row-fluid 
    .span6
      h5 BIDS
      table.table
        thead
          tr
            th Price
            th Amount
            th Value
        tbody
          tr(ng-repeat="item in biddata")
            td {{item.price}} 
            td {{item.amount}} 
            td {{item.value}} 
    .span6
      h5 ASKS
      table.table
        thead
          tr
            th Price
            th Amount
            th Value
        tbody
          tr(ng-repeat="item in askdata")
            td {{item.price}} 
            td {{item.amount}} 
            td {{item.value}} 
