#content-header
  h1 Transactions
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a(href='/transactions') Transactions
.container-fluid
  .row-fluid
    .span12
      stockchart(value="data", height="500")