#content-header
  h1 Transaction
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a(href='/transaction') Transaction
.container-fluid
  .row-fluid
    .span12
      table.table
        thead
          tr
            th Ledger
            th Account
            th Type
            th Description
            th Links
        tbody
          tr(ng-repeat="item in transaction | limitTo: 100")
            td {{item[0]}} 
            td {{item[1]}} 
            td {{item[2]}} 
            td {{item[4]}}
            td
              a(href="https://ripple.com/client/#/tx?id={{item[3]}}") Client  
              | / 
              a(href="https://ripple.com/graph/\#\{{item[3]}}") Graph