#content-header
  h1 Total XRP
#breadcrumb
  a(href='/', class="tip-bottom")
    i.icon-home
    | Home
  a(href='/volume/xrp') Total XRP
.container-fluid
  .row-fluid
    .span12
      stockchart(value="data", height="500")
  .row-fluid
    .span8.raw_data
      a(ng-click='open_raw_data()') Load raw data
      table.table(ng-show="opened == true")
        thead
          tr
            th Timestamp
            th Total XRP
        tbody
          tr(ng-repeat="item in raw_data")
            td {{item[0] | date: 'yyyy-MM-dd HH:mm:ss'}} 
            td {{item[1].toFixed(2)}} 
