{
  "development" : {
    "username" : "REDACTED",
    "password" : "REDACTED",
    "host"     : "localhost",
    "port"     : 5984,
    "database" : "REDACTED",
    "protocol" : "http"
  },
  
  "staging" : {
    "username" : "REDACTED",
    "password" : "REDACTED",
    "host"     : "localhost",
    "port"     : 5984,
    "database" : "REDACTED",
    "protocol" : "http"
  },
  
  "production" : {
    "username" : "REDACTED",
    "password" : "REDACTED",
    "host"     : "localhost",
    "port"     : 5984,
    "database" : "REDACTED",
    "protocol" : "http"
  }
}