{
  "development": {
    "port"       : 5993,
    "batchSize"  : 100,
    "startIndex" : 1,
    "rippleds"   :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ]
  },
  
  "staging": {
    "port"       : 5993,
    "batchSize"  : 100,
    "startIndex" : 32570, //effective genesis ledger
    "rippleds"   :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ]
  },
  
  "production": {
    "port"       : 5993,
    "batchSize"  : 100,
    "startIndex" : 32570, //effective genesis ledger
    "rippleds"   :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ]
  }
}