{
  "development": {
    "port"       : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125, 
    "maxSockets" : 150,
    "batchSize"  : 100,
    "startIndex" : 32570,
    "rippleds"   :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    },
    "hbase" : {
      "host" : "",
      "port" : 9090
    },
  },
  
  "staging": {
    "port"       : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125,
    "maxSockets" : 150,
    "batchSize"  : 100,
    "startIndex" : 32570, 
    "rippleds"   :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    },
    "hbase" : {
      "host" : "",
      "port" : 9090
    },
  },
  
  "production": {
    "port"        : 5993,
    "datadogURL"  : "localhost",
    "datadogPort" : 8125,
    "maxSockets"  : 150,  
    "batchSize"   : 100,
    "startIndex"  : 32570, 
    "rippleds"    :  [
      "http://s_east.ripple.com:51234",
      "http://s_west.ripple.com:51234"
    ],
    "redis" : {
      "enabled" : true,
      "port"    : 6379,
      "host"    : "127.0.0.1",
      "options" : {
        "auth_pass" : null
      }
    },
    "hbase" : {
      "host" : "",
      "port" : 9090
    },
  }
}