extends layout

block body
  #header
    h1: a(href="dashboard") Ripple Charts
  #user-nav.navbar.navbar-inverse
    ul.nav.btn-group
      li.btn.btn-inverse
        a(href="javascript:void(0)", data-uv-lightbox="classic_widget", data-uv-mode="full", data-uv-default-mode="feedback", data-uv-primary-color="#cc6d00", data-uv-link-color="#0088CC", data-uv-forum-id="202316")
          i.icon.icon-envelope
          span.text &nbsp;Feedback &amp; Support
  #sidebar
    ul
      li: a(href="#")
        i.icon.icon-home
        span Dashboard
  #content(ng-controller='AppCtrl', ng-view)

  script(src='js/lib/jquery/jquery.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/moment/moment.js')
  script(src='js/lib/ripple/ripple.js')
  script(src='js/lib/highstock/highstock.js')
  script(src='js/lib/iso4217/iso4217.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
