!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/unicorn.main.css')
    link(rel='stylesheet', href='/css/unicorn.grey.css', class='skin-color')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body