/* app css stylesheet */
body {
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#user-nav > ul > li > a {
  font-size: 12px;
  padding: 3px 10px;
}

.navbar-inverse .nav>li>a {
  color: #ddd;
}

.icon-dollar {
  background-image: url(../img/glyphicons-halflings-usd.png);
  background-position: 2px 0;
}

/*
table#market-list tbody tr {
  cursor: pointer;
}

table#market-list tbody tr:hover td {
  background-color: #eee;
}
*/

table#currency-list .cap {
  text-align: right;
}

.widget-content {
  clear: both;
}

table.table-fin th, table#market-list td {
  padding: 5px;
}

table.table-fin td {
  font-size: 10pt;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

table.table-fin td.fin {
  text-align: center;
  font-size: 10pt;
  font-weight: 700;
}

table.table-fin td.fin .minor {
  font-size: 9pt;
  font-weight: normal;
}

#market-grid td {
  text-align: center;
}

.pagination {
  float: right;
}

.table, .table td, .table th {
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  padding: 12px;
  text-align: left;
}

.table {
  background-color: white;
}

.table th {
  font-weight: 600;
  font-size: 14px;
}

.live-feed {
  padding: 5px;
  border: 1px solid #e6e6e6;
  background-color: white;
  font-size: 10px;
  height: 120px;
  overflow: auto;
  margin-bottom: 10px;
}

.live-feed p {
  margin:0; padding: 0;
  line-height: 12px;
}

.live-feed p.green { color: green; font-weight: bold; }

.live-feed p.red { color: red; font-weight: bold; }

.stats {
  padding: 5px;
  border: 1px solid #e6e6e6;
  background-color: white;
  height: 120px;
  overflow: auto;
  margin-bottom: 10px;
}

.stats > span {
  display: block;
  line-height: 18px;
}

.stats span { padding-left: 15px; }

.stats > span > strong { font-size: 10px; color: #363636; }