/* app css stylesheet */
body {
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#user-nav > ul > li > a {
  font-size: 12px;
  padding: 3px 10px;
}

.navbar-inverse .nav>li>a {
  color: #ddd;
}

.icon-dollar {
  background-image: url(../img/glyphicons-halflings-usd.png);
  background-position: 2px 0;
}

/*
table#market-list tbody tr {
  cursor: pointer;
}

table#market-list tbody tr:hover td {
  background-color: #eee;
}
*/

table#currency-list .cap {
  text-align: right;
}

.widget-content {
  clear: both;
}

table.table-fin th, table#market-list td {
  padding: 5px;
}

table.table-fin td {
  font-size: 10pt;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

table.table-fin td.fin {
  text-align: center;
  font-size: 10pt;
  font-weight: 700;
}

table.table-fin td.fin .minor {
  font-size: 9pt;
  font-weight: normal;
}

#market-grid td {
  text-align: center;
}

.pagination {
  float: right;
}