body {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: .5;
}

.axis text {
  font: 10px sans-serif;
}
